hs_err_pid*
/.gradle/
bin/
.classpath
.project
/.settings/org.eclipse.buildship.core.prefs
/*/.settings/org.eclipse.buildship.core.prefs
build/
/application.properties
/.README.md.html
/data.kryo
/mails.kryo
/wifi-device-details.csv
/fritzbox-details.csv
